/* Construction de mon fichier CSS */
/* 1. Je customise les éléments globaux (p, a, h1, h2, etc..) + bouton */

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

*, body {
    margin: 0;
    font-family: "Roboto Regular";
}

h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    object-fit: cover;
}

.btn {
    background-color: #FFB826;
    color: white;
    padding: 0.5rem 2rem;
    border: 1px solid #FFB826;
    border-radius: 3px;
    transition: 0.25s ease;
}

.btn:hover {
    background-color: white;
    color: #FFB826;
}

/* CUSTOMISATION HEADER */

.main-menu {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    text-transform: uppercase;
    font-weight: bold;
}

.main-menu .main-menu-element {
    list-style: none;
    padding: 0 1.5rem;
}

.main-menu .main-menu-element a:hover {
    color: #FFB826;
}



/* POUR RAJOUTER DES BORDURES SUR LE MENU */
.main-menu .main-menu-element:not(:last-child) {
    border-right: 1px solid black;
}

/* CUSTOMISATION BANNER */

#banner {
    background-image: url(../img/new-world-amazon-jeu.jpg);
    background-size: cover;
    background-position: center;    
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#banner .white-logo {
    width: 15%;
}

#banner h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 1rem;
    font-size: 2.5rem;
}

/* CUSTOMISATION DE LA SECTION DE CONTENU */

#content {
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;
}

#content p {
    margin: 2rem 0;
}

/* CUSTOMISATION DE LA SECTION SUR LES ACTUALITES */

#actualites {
    padding: 3rem 0;
}

#actualites .card-container {
    display: flex;
    justify-content: center;

    margin-top: 2rem;
}

#actualites article {
    width: 20%;
    margin: 1rem;
    background-color: #282725;
}

#actualites article h3 {
    background-color: white;
}

#actualites .card {
    color: white;
}

#actualites .card .card-content {
    padding: 1rem 1rem 5rem;
}

#actualites .card .card-content h4 {
    padding-bottom: 1rem;
}

#actualites .card .card-content p {
    font-weight: 300;
}

/* CUSTOMISATION DU FOOTER  */

footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    width: 5%;
    padding: 1rem 0;
}

footer .footer-menu {
    color: white;
    list-style: none;

    display: flex;
    padding: 0;
}

footer .footer-menu li a {
    padding: 0 1rem;
}


footer .footer-menu li:not(:last-child) a {
    border-right: 1px solid white;
}

@media screen and (max-width: 992px) {
    #actualites article {
        width: 30%;
        margin: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .main-menu {
        flex-direction: column;
        align-items: center;
    }

    .main-menu .main-menu-element {
        padding: 1rem;
    }

    .main-menu .main-menu-element:not(:last-child) {
        border-right: none;
    }

    #banner h1 {
        font-size: 1.3rem;
    }

    #banner .white-logo {
        width: 50%;
    }

    #actualites article {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    #content {
        width: 90%;
    }
    
    #actualites .card-container {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer img {
        width: 30%;
    }

    footer .footer-menu {
        flex-direction: column;
    }

    footer .footer-menu li {
        padding: 1rem;
    }

    footer .footer-menu li:not(:last-child) a {
        border-right: none;
    }
}

